.ab-container {
  display: flex;
  padding: 3em 1em 3.5em 6em;
}

.ab-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 45%;
}
.ab-description {
  font-size: 1em;
  font-weight: 300;
  margin: 1em 1em 0 0;
}
@media (min-width: 1550px) {
  .ab-description {
    font-size: 1.25em;
    font-weight: 300;
    margin: 1em 1em 0 0;
  }
  .ab-container {
    display: flex;
    padding: 6em 1em 7em 12em;
  }
}
.lastDescription {
  margin-bottom: 2em;
}
.ab-button {
  height: 40px;
  width: 200px;
  background-color: var(--color-primary);
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
}

.ab-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
}
.ab-image {
  height: 500px;
  width: auto;
}
