/* BRANDS CAROUSEL------------------------------------------------------------------- */
.carousel-track {
  animation: scroll 50s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
