/* brands.css */

.carousel-track {
  display: flex;
  animation: scroll 30s linear infinite;
}

.carousel-item {
  flex-shrink: 0;
  flex-grow: 0;
  width: 160px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}

.carousel-image {
  height: 100%;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-52.1%);
  }
}
.formCard2 {
  transition: all 0.5s;
  background-color: var(--color-primary);
  position: relative;
  margin: 1em 0;
  overflow-x: hidden;
}

.formCardInner2 {
  width: 100%;
  height: 150px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  padding: 0.7em;
  overflow: hidden;
}

.formCircle2 {
  width: 50vh;
  height: 80px;
  background: radial-gradient(white, white);
  position: absolute;
  animation: grow-shrink 3s ease-in infinite alternate-reverse;
  transform-origin: center;
}

.formCircle2:nth-child(1) {
  left: -25px;
  margin-top: 2.25em;

}

.formCircle2:nth-child(2) {
  right: -25px;
  margin-top: 2.25em;


}

.formCircle2:nth-child(3) {
  right: 70px;
  margin-top: 2.25em;


}

.formCircle2:nth-child(4) {
  right: 180px;
  margin-top: 2.25em;


}

.formCircle2:nth-child(5) {
  right: 300px;
  width: 200px;
  margin-top: 2.25em;


}

.formCircle2:nth-child(6) {
  right: 430px;
  width: 200px;
  margin-top: 2.25em;


}

.formCircle2:nth-child(7) {
  right: 560px;
  margin-top: 2.25em;


}

.formCircle2:nth-child(8) {
  right: 680px;
  margin-top: 2.25em;


}

.formCircle2:nth-child(9) {
  left: 100px;
  margin-top: 2.25em;


}

.formCircle2:nth-child(10) {
  left: 220px;
  width: 200px;
  margin-top: 2.25em;


}

.formCircle2:nth-child(11) {
  left: 350px;
  width: 200px;
  margin-top: 2.25em;


}

.formCircle2:nth-child(12) {
  left: 470px;
  width: 200px;
  margin-top: 2.25em;


}

@keyframes grow-shrink {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1.5);
  }
}
