.cardAddCartSection {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  width: 90%;
  padding: 30px;
}
.cardAddCartContainer {
  display: flex;
}
.cardAddCartSubContainer {
  display: flex;
  flex-direction: column;
}
.cardAddCartPrice {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
}
.cardAddCartIcon {
  margin-top: 4px;
}
.cardAddCartButton {
  width: 80%;
  color: white;
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
}
.cardAddCartButton:hover {
  transform: scale(1.05);
}
.cardAddCartButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.cardAddCartContainer svg{
  margin-right: 0.5em;
  font-size: 1.5em;
}
.infoTitle{
  margin-top: 0.5em;
  font-weight: 6  00;
}