.categoryTitle {
  margin: 100px 0 50px 0;
}
.categoryProducts {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 100px;
  justify-content: space-between;
  overflow: hidden;
  padding: 2em 2.5em;
}
/* styles.css */
.titleContainer {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.title {
  font-size: 32px;
  font-weight: bold;
  white-space: nowrap;
  position: relative;
  left: -30%;
  font-weight: 1000;
  margin: 0.75em 0.5em 0.75em 0;
  text-transform: uppercase;
}

.filterOrder {
  display: flex;
  justify-content: space-between;
  padding: 0 2.5em;
}

.filterOrder button {
  padding: 0.5em 1em;
  background-color: var(--color-secondary);
  color: white;
  width: 200px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.filterOrder button:hover {
  background-color: rgb(var(--color-secondary-rgb), 0.75);
}

.title span {
  padding-right: 20px;
}
#filter {
  position: fixed;
  z-index: 25;
  bottom: 45%;
  left: -1%;
}

.backFilterContainer {
  position: absolute;
  top: 1em;
  left: -0.5em;
  z-index: 20;
}

.buttonBack {
  background: linear-gradient(
    90deg,
    rgba(253, 174, 55, 0.2) 100%,
    rgba(245, 245, 220, 0.7) 0%
  );
  width: 5em;
  height: 6em;
  border-radius: 25%;
  transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease,
    background 0.3s ease;
}

.buttonFilter {
  width: 5em;
  height: 5em;
  border-radius: 100%;
  position: absolute;
  left: 1.5em;
  top: 1.5em;
  z-index: 30;
  background: linear-gradient(
    90deg,
    rgba(245, 245, 220, 0.1) 0%,
    rgba(253, 174, 55, 1) 100%
  );
  transition: transform 0.3s ease, background 0.3s ease;
}

.buttonFilter.expanded {
  background: var(--color-secondary);
}

.buttonFilter::before {
  content: "";
  border: solid white;
  border-width: 5px 5px 0 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  transform: rotate(45deg) translateY(-1px) translateX(7px);
  border-radius: 3px;
  transition: transform 0.3s ease;
}

.buttonFilter.expanded::before {
  transform: rotate(-130deg) translateY(0px) translateX(-6px);
}

.buttonBack.expanded {
  background-color: var(--color-primary) !important;
  width: 30vw;
  height: 100vh;
  border-radius: 0;
  position: relative;
  top: -22em;
}

.blueDiv {
  width: 10px;
  height: 100vh;
  background-color: var(--color-secondary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 3.5em;
}

.backgroundFilter{
  height: 100vh;
  background-color: rgb(var(--color-secondary-rgb), 0.75);
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination p {
  font-size: 1em;
  color: var(--color-secondary);
  margin: 0.5em;
}

.pagination button {
  margin: 0 0.5em;
  font-size: 3em;
  color: var(--color-secondary);
  margin: 0.5em;
}

.category-link:hover{
  height: 22vh;
  width: 22vh;
}

.priceFilter{
  width: 18%;
  height: 20%;
  background-color: white;
  position: fixed;
  z-index: 21;
  top: 100px;
  left: 110px;
  padding: 1em 2em;
  border-radius: 15px;
  
}
.buttonApply{
  width: 18%;
  height: 6%;
  background-color: white;
  position: fixed;
  bottom: 0;
  margin-bottom: 1em;
  left: 110px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}
.priceFilter h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  height: 1em;
}

.priceFilter p {
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 20px;
}

.priceInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceInputs input[type="range"] {
  width: calc(50% - 10px); /* 50% del ancho del contenedor menos el espacio entre ellos */
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  border-radius: 5px;
  background: var(--color-secondary);
  outline: none;
}

.priceInputs input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--color-primary);
  cursor: pointer;
} 

.namePrice{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}