hr {
  border: none;
  border-top: 1px solid black;
  margin: 10px 0;
}

.characteristicContainer {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  margin-left: 2%;
  align-items: center;
}
.characteristicContainer > div {
  display: flex;
  flex-direction: row;
}
