/* Estilos generales */
.comparator-content-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comparator-selected-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.comparator-item-selected-container {
  height: 575px;
  width: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comparator-first-choice-container,
.comparator-second-choice-container {
  width: 70%;
}

.comparator-first-choice-container-hidden,
.comparator-second-choice-container-hidden,
.comparator-plus-icon-1-container-hidden,
.comparator-plus-icon-2-container-hidden,
.comparator-characteristics-container-hidden,
.comparator-choices-names-container-hidden {
  display: none;
}

.comparator-rating-name-container,
.comparator-rating-name-container-hidden {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comparator-rating {
  border: 10px solid var(--color-primary);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  font-weight: 700;
  align-self: start;
}

.comparator-name {
  font-size: 25px;
  font-weight: 700;
  text-align: left;
}

.comparator-remove-choice-icon {
  font-size: 40px;
  cursor: pointer;
}

.comparator-remove-choice-icon.highlight {
  color: red;
  transition: color 0.2s;
}

.comparator-first-choice-img,
.comparator-second-choice-img {
  height: 350px;
  display: block;
  margin: 0 auto 10px;
}

.comparator-see-product-button-container {
  display: flex;
  justify-content: center;
  button {
    background-color: var(--color-primary);
    border-radius: 5px;
    width: 15em;
    height: 2.5em;
    font-size: 1.5em;
    position: relative;
    z-index: 2;
    top: -35px;
  }
  h6 {
    padding: 7px 60px;
    color: white;
    font-weight: 600;
  }
}

.comparator-vs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.comparator-vs-line {
  width: 1px;
  border: 1px solid rgb(96, 96, 96);
  height: 35%;
}

.comparator-vs-icon p {
  border: 2px solid rgb(79, 79, 79);
  border-radius: 50%;
  padding: 10px 12px;
  font-weight: 600;
}

.comparator-plus-icon {
  font-size: 100px;
  color: rgb(172, 172, 172);
}

/* Estilos del contenedor de nombres de elección */
.comparator-choices-names-container,
.comparator-choices-names-container-hidden {
  margin: 20px 0;
}

.comparator-choices-names-container h4 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

/* Estilos de las características de comparación */
.comparator-characteristics-container,
.comparator-characteristics-container-hidden {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
}

.comparator-characteristics-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.comparator-characteristics-cell {
  flex: 1;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.comparator-characteristics-cell:first-child {
  text-align: left;
  font-weight: normal;
}

.comparator-characteristics-cell:not(:first-child) {
  border-left: 1px solid #ccc;
}

/* Estilos del contenedor de añadir título */
.comparator-add-title-container {
  padding: 50px 0;
}

.comparator-add-title-container h3 {
  font-size: 35px;
  font-weight: 800;
}

/* Estilos del contenedor de búsqueda */
.comparator-search-container {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.comparator-search-container select {
  height: 40px;
  width: 100%;
  border: 3px solid black;
  border-radius: 25px;
  padding-left: 12px;
}
.comparator-input-container input {
  height: 40px;
  border: none;
  border-radius: 25px;
  padding-left: 12px;
}

.comparator-input-container {
  display: flex;
  align-items: center;
  border: 3px solid black;
  border-radius: 25px;
  height: 40px;
  overflow: hidden;
  width: 20%;
}

.comparator-input-container div {
  padding: 10px;
}

.comparator-input-container input {
  padding: 0px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 25px;
  height: 30px;
  width: 85%;
}

.comparator-input-container input:focus {
  outline: none;
}

.comparator-input-icon-container {
  background-color: black;
  border-radius: 20px;
}

.comparator-input-icon {
  font-size: 17px;
  color: white;
}

.comparator-choice-categories-container {
  width: 20%;
  display: flex;
  justify-content: center;
}

.comparator-button-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 20px;
  margin-bottom: 40px;
  h6 {
    padding: 10px 50px;
    color: white;
    font-weight: 600;
  }
}

/* Estilos de la cuadrícula de comparación */
.comparator-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-bottom: 50px;
  width: 85%;
}

/* Estilos específicos para las estrellas */
.stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.added-message {
  position: fixed;
  top: 15px;
  right: 15%;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 1;
  font-weight: bold;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes fadeout {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}

.comparison-error {
  position: fixed;
  top: 15px;
  right: 15%;
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 1;
  font-weight: bold;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

.comparator-price-filter {
  width: 20%;
  background: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.comparator-price-filter-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

.comparator-priceInputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.comparator-priceInputs input[type="range"] {
  width: 40%;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  border-radius: 5px;
  background: #ff6700;
  outline: none;
}

.comparator-priceInputs input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #ff6700;
  cursor: pointer;
}

.comparator-priceInputs input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #ff6700;
  cursor: pointer;
}

.comparator-price-values {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
  span {
    width: 30%;
    display: flex;
    justify-content: center;
  }
}

.shadow-white {
  box-shadow: 0px -80px 60px 65px rgb(255, 255, 255);
  width: 100%;
  height: 200px;
  position: absolute;
  top: 604px;
  z-index: 1;
}
