
/* FRONT-CARD */

.creator-flip-card-front{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
        img{
            width: 60%;
            height: 45%;
            margin-top: 10px;
        }
        p{
            margin-top: 10px;
            font-size: 15px;
        }
}

.creator-relleno-span{
    height: 30%;
}

.creator-card-button{
    font-size: 15px;
}

.creator-star-icon{
    height: 25px;
}

.creator-description{
    height: 100%;
    margin-top: 30px;

}