#loading {
    display: flex;
    justify-content: center;
    align-items: center; /* Asegura que el contenido esté centrado verticalmente */
    height: 100vh;
    background-color: var(--color-secondary);
    animation: backgroundFlash 3s ease infinite;
  }
  
  @keyframes backgroundFlash {
    0% {
      background-color: var(--color-secondary);
    }
    50% {
      background-color: #212431ee;
    }
    100% {
      background-color: var(--color-secondary);
    }
  }
  
  svg {
    width: 50%;
  }
  
  .pathAnimate {
    animation: colorChange 0.5s forwards;
  }
  
  @keyframes colorChange {
    from {
      fill: #fff;
    }
    to {
      fill: var(--color-primary);
    }
  }
  