#nav-container {
  padding: 30px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

#navbar {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed; 
  top: 0;   
  width: 100%;
  z-index: 10;   
}

.container-nav {
  position: relative;
  --size-button: 30px;
  color: white;
}

.inputSearch {
  margin-top: 2px;
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #191a1e;
  box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}

.inputSearch:focus,
.inputSearch:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%),
    inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
}

.inputSearch:focus + .icon,
.inputSearch:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.container-nav .icon {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#nav-mid {
  display: flex;
  align-items: center;
}
#nav-mid img,
p {
  padding: 0px 2px;
  margin: 0;
}
#avx {
  font-size: 30px;
  font-weight: 500;
}
#comp {
  font-size: 25px;
}

.logoContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 3rem;
}

.svgLogo {
  height: auto;
  width: 100%;
  max-width: 32rem;
}

.iconsNav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.lupa {
  width: 15px;
  margin-top: 9px;
  margin-left: 7px;
}

.userIcon,
.burguerIcon {
  width: 25px;
}

.cartIcon {
  width: 30px;
}
