.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-information-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90%;
  margin-left: 10%;
}
.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  margin-bottom: 5em;
}
.profile-image-container img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
.profile-information {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.profile-information div {
  display: flex;
  flex-direction: column;
}
.singout-button {
  padding: 6px 40px;
  background-color: var(--color-primary);
  color: white;
  font-weight: 700;
  border-radius: 5px;
}
.profile-button-container {
  display: flex;
  align-items: flex-end;
  height: 20%;
  margin-left: 10%;
  margin-bottom: 20px;
}
.no_favorites {
  text-align: center;
  font-size: 1.5em;
}
.profile-title {
  margin-bottom: 25%;
  font-size: 2em !important;
  white-space: nowrap;
}

.formCardInner2 {
  width: inherit;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  padding: 1em;
  height: inherit;
}

.formCircle2:nth-child(2) {
  bottom: -55px;
  right: -45px;
  animation-name: move-down1;
}
.formCircle:nth-child(1) {
  top: -35px;
  left: -45px;
}

.formCircle2 {
  width: 20vh;
  height: 20vh;
  background: radial-gradient(var(--color-primary), var(--color-primary));
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.formCard3 {
  height: 65vh;
  margin: 6em 17em;
  transition: all 0.2s;
  position: relative;
}
