.review-rating {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.rating-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 18px solid var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.rating-circle span {
  color: black;
  font-size: 1.5em;
  font-weight: 600;
}
.reviews-summary-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reviews-summary {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

.review-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 2em;
}

.review-bar span {
  display: flex;
  align-items: center;
  width: 2em;
  justify-content: space-between;
}

.review-bar .bar {
  flex-grow: 1;
  height: 8px;
  background-color: #e0e0e0;
  margin: 0 10px;
  position: relative;
}

.review-bar .filled-bar {
  height: 100%;
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2em;
}

.add-review-btn {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.bar {
  border-radius: 2em;
}

.review-bar span svg {
  color: var(--color-primary);
}

.ratingContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.review {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  margin-bottom: 20px;
  width: 90%;
}

.reviewEmail {
  font-weight: bold;
  margin-bottom: 5px;
}

.reviewContent {
  display: flex;
  flex-direction: column;
}

.reviewStars {
  margin-top: 10px;
  display: flex;
}

.reviewText {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}
.userReviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.likesContainer {
  display: flex;
  margin-top: 20px;
}
.likeNumber {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: var(--color-primary) 5px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
