@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #ff9f0d;
    --color-secondary: #171523;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
