@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #c4c4c4;
  }
}

/* TEST---------------------------------------------------------------------------------- */

.product-card-container {
  display: flex;
  flex-wrap: wrap;
}
.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 16px;
  width: 30%;
}

.product-image {
  border-radius: 8px;
  margin-bottom: 12px;
  max-width: 100%;
}

.product-name {
  font-size: 18px;
  margin-bottom: 8px;
}

.product-price {
  font-size: 16px;
  color: #555;
}

/* ABOUT US-------------------------------------------------------- */

.about-us-section {
  display: flex;
  flex-direction: row;
}
.text-container {
}
.text-title {
  font-size: 2em;
  font-weight: 800;
}
.text {
}
.image-container {
}
image {
}

/* BRANDS ------------------------------------------------------------------- */
/* Brands.css */
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 70px;
  background-color: orange; /* Puedes ajustar el fondo según tus necesidades */
}

.carousel-track {
  display: flex;
  animation: scroll 50s linear infinite;
}

.carousel-item {
  flex: 0 0 auto;
  width: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
}

.carousel-item img {
  height: 100%;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* CARD------------------------------------------------------ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flip-card-inner {
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.card-offer-span::before {
  content: "Offert";
  position: absolute;
  width: 150%;
  height: 30px;
  background-color: #ff9f0d;
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 5px 2px 9px 0px rgba(0, 0, 0, 0.23);
}

.card-offer-span::after {
  content: "";
  position: absolute;
  width: 11px;
  bottom: 7px;
  left: 0px;
  height: 10px;
  z-index: -1;
  box-shadow: 132px -132px #cc3f47;
  background-color: #cc3f47;
}
.card-offer-span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.card-button {
  background-color: #ff9f0d;
}
.card-button:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.card-button:hover .tooltip,
.card-button:hover .tooltip::before {
  background-color: #ff9f0d;
  color: #ffffff;
}

/* Ocultar barra de desplazamiento */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-indicator.visible {
  display: block;
}
/* Agrega el siguiente estilo para la flecha indicadora de scroll */
.scroll-indicator {
  position: absolute;
  bottom: 40px;
  right: 5px;
  font-size: 24px;
  color: #ff9f0d;
  transition: opacity 0.3s ease;
}

/* Ajusta el estilo para que la flecha indicadora sea visible solo cuando hay desplazamiento */
.scroll-indicator.invisible {
  opacity: 0;
}

/* COMPONENTS------------------------------------------------------ */
#components {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
}

.container {
  position: relative;
  width: 75%;
  height: 100%;
}

.container div {
  position: absolute;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container div img {
  max-width: 100%;
  max-height: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Top row */
.container div:nth-child(1) {
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.container div:nth-child(2) {
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container div:nth-child(3) {
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%);
}

/* Bottom row */
.container div:nth-child(4) {
  bottom: 20%;
  left: 30%;
  transform: translate(-50%, 50%);
}
.container div:nth-child(5) {
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.container div:nth-child(6) {
  bottom: 20%;
  left: 70%;
  transform: translate(-50%, 50%);
}

/* Left column */
.container div:nth-child(7) {
  top: 25%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.container div:nth-child(8) {
  top: 50%;
  left: 6%;
  transform: translate(-50%, -50%);
}
.container div:nth-child(9) {
  top: 75%;
  left: 10%;
  transform: translate(-50%, -50%);
}

/* Right column */
.container div:nth-child(10) {
  top: 25%;
  right: 10%;
  transform: translate(50%, -50%);
}
.container div:nth-child(11) {
  top: 50%;
  right: 5%;
  transform: translate(50%, -50%);
}
.container div:nth-child(12) {
  top: 75%;
  right: 10%;
  transform: translate(50%, -50%);
}

.container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.scroll-container {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  transition: transform 0.3s ease;
}

.item {
  flex: 0 0 auto;
  width: 100vw;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

#external_hard_drive {
  width: 200px;
  height: 200px;
}
#motherboard {
  width: 200px;
  height: 200px;
}
#internal_hard_drive {
  width: 200px;
  height: 200px;
}
#monitor {
  width: 200px;
  height: 200px;
}
#optical_drive {
  width: 200px;
  height: 200px;
}
#cpu {
  width: 200px;
  height: 200px;
}
#ram {
  width: 200px;
  height: 200px;
}
#case {
  width: 200px;
  height: 200px;
}
#cpu_cooler {
  width: 200px;
  height: 200px;
}
#graphic_card {
  width: 200px;
  height: 200px;
}
#power_supply {
  width: 200px;
  height: 200px;
}
#case_fan {
  width: 200px;
  height: 200px;
}

/* EXTERNAL HARD DRIVE */
#external_hard_drive:hover #light_external3 {
  fill: #fdae37;
  filter: drop-shadow(0px 0px 10px #fdae37);
}

#external_hard_drive:hover #light_external2 {
  fill: #fdae37;
  filter: drop-shadow(0px 0px 10px #fdae37);
  transition-delay: 0.5s;
}

#external_hard_drive:hover #light_external1 {
  fill: #fdae37;
  filter: drop-shadow(0px 0px 10px #fdae37);
  transition-delay: 1s;
}

/* LIGHT BOARD*/

#light_board {
  display: none;
  stroke-dasharray: 2850.5;
  stroke-dashoffset: 15007.5;
  animation: draw 10s infinite;
  stroke: #fdae37;
  filter: drop-shadow(0px 0px 50px #fdae37);
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* CASE */
#case:hover .light_case {
  stroke: #fdae37;
  filter: drop-shadow(0px 0px 40px #fdae37);
  fill: white;
}

.cls {
  stroke: #fdae37;
  filter: drop-shadow(0px 0px 40px #fdae37);
  stroke-width: 12px;
}

#power_supply:hover .cls-17 {
  stroke: #fdae37;
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 12px;
}

#power_supply:hover .cls-13 {
  stroke: #171717;
  stroke-width: 12px;
}

/* INTERNAL HARD DRIVE */
#internal_hard_drive:hover #ihd_stick {
  transform-origin: center bottom; /* El punto de origen de la rotación se establece en la base del elemento */
  animation: rotateTop 1s infinite alternate; /* Aplica la animación solo a la parte superior del palo */
}

@keyframes rotateTop {
  from {
    transform: rotate(0deg); /* Angulo inicial de rotación */
  }
  to {
    transform: rotate(5deg); /* Angulo final de rotación */
  }
}

/* GRAPHIC CARD */
#light_gc1,
#light_gc2 {
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}

#graphic_card:hover #light_gc1 {
  animation: flicker1 2s infinite alternate;
}

#graphic_card:hover #light_gc2 {
  animation: flicker2 1s infinite alternate;
}

#graphic_card:hover #circle_gc {
  animation: flickerCircle 1s infinite alternate;
}

@keyframes flicker1 {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes flicker2 {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes flickerCircle {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/* MOTHERBOARD */
#motherboard:hover #circle_board1 {
  animation: flicker5 1s infinite;
}

#motherboard:hover #circle_board2 {
  animation: flicker6 1s infinite;
  animation-delay: 1s;
}
#motherboard:hover #circle_board3 {
  animation: flicker7 1s infinite;
  animation-delay: 2s;
}

#motherboard:hover #circle_board4 {
  animation: flicker8 1s infinite;
  animation-delay: 3s;
}

@keyframes flicker5 {
  0% {
    fill: white;
  }
  100% {
    fill: #fdae37;
  }
}

@keyframes flicker6 {
  0% {
    fill: white;
  }
  100% {
    fill: #fdae37;
  }
}

@keyframes flicker7 {
  0% {
    fill: white;
  }
  100% {
    fill: #fdae37;
  }
}

@keyframes flicker8 {
  0% {
    fill: white;
  }
  100% {
    fill: #fdae37;
  }
}

/* RAM */
#ram:hover #line_ram1 {
  transition: width 1.5s ease;
  width: 400px;
}
#ram:hover #line_ram2 {
  transition: width 2.5s ease 1s;
  width: 600px;
}

#ram:hover #line_ram1 {
  animation: resetWidth1 1.5s ease 3s forwards;
}

#ram:hover #line_ram2 {
  animation: resetWidth2 2.5s ease 3s forwards;
}

#ram #line_ram1,
#ram #line_ram2 {
  animation: resetWidth 3.5s ease forwards infinite;
}

@keyframes resetWidth1 {
  to {
    width: 0px;
  }
}

@keyframes resetWidth2 {
  to {
    width: 0px;
  }
}

#ram:hover .blink_ram {
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    fill: #fff;
  }
  50% {
    fill: #171717;
  }
  100% {
    fill: #fff;
  }
}
/* MONITOR */
.logo {
  fill: white;
}
#monitor:hover .logo {
  fill: #171717;
  transition: fill 0.8s ease;
}

#monitor:hover .light_monitor {
  fill: #fdae37;
  filter: drop-shadow(0px 0px 20px #fdae37);
  transition: fill 0.4s ease;
}

/* CPU */
#cpu:hover #light_cpu {
  filter: drop-shadow(0px 0px 20px #fdae37);
}

@keyframes blink {
  0% {
    fill: #fff; /* Color al que cambiará */
  }
  50% {
    fill: #171717; /* Color al que cambiará */
  }
  100% {
    fill: #fff; /* Color al que cambiará */
  }
}

#cpu:hover #outlight_cpu {
  animation: blink 3s infinite; /* Animación de parpadeo durante 0.5 segundos y de forma infinita */
}

/* OPTICAL DRIVE */
#optical_drive:hover #disk_move {
  transform: translateY(100px);
  transition: transform 0.8s ease;
}
